div(class="row")
    div(class="eight columns center")
        h4(class="no-margin-bottom") Create Item
        div(class="twelve columns margin10Top")
            form(class="create-item")
                div(class="row")
                    input(type="text", name="name", ng-model="itemCtrl.item.name", class="margin5Bottom", placeholder="Name")
                div(class="row")
                    label Select Type
                    select(name="repeatSelect", id="repeatSelect", ng-model="itemCtrl.item.type", class="margin5Bottom")
                            option(ng-repeat="type in itemCtrl.itemTypes", ng-selected="{{type == itemCtrl.defaultType}}" value="{{type}}") {{type}}
                    label Select Sensors
                    select(name="repeatSensors", multiple, id="repeatSensors", ng-model="itemCtrl.item.sensors", class="margin5Bottom height-150")
                            option(ng-repeat="sensor in itemCtrl.sensors", value="{{sensor._id}}") {{sensor.description}}
                div(class="row")
                    input(type="text", name="description", ng-model="itemCtrl.item.description", class="margin5Bottom", placeholder="Description")                    
                div(class="row margin10Top")
                    input(type="button", name="Create" value="Create" class="pure-button button-primary margin5Left" ng-click="itemCtrl.submitItem(itemCtrl.item)")
